<div class="container-fluid principal-section-index">
    <div class="row">
            <div class="form-advenced-search-container col-xs-12 col-md-12 col-lg-4">
                    <form>
                            <h4>Recherche avancée:</h4>

                            <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-6">
                                            <select class="category-choice form-control">
                                             <option>Sorties</option>
                                             <option>Covoiturage</option>
                                             <option>Sport</option>
                                             <option>Coup de main</option>
                                             <option>Bons plans</option>
                                    </select>
                                    </div>

                                    <div class="col-xs-12 col-md-12 col-lg-6">
                                            <select class="regions-choice form-control">
                                             <option>Île-de-France</option>
                                             <option>Bourgogne</option>
                                             <option>franche-Comté</option>
                                             <option>Centre</option>
                                             <option>Basse-Normandie</option>
                                             <option>Haute-Normandie</option>
                                             <option>Bretagne</option>
                                             <option>Nord-Pas-De-Calais</option>
                                             <option>Picardie</option>
                                             <option>Auvergne</option>
                                             <option>Rhône-Alpes</option>
                                             <option>Provence-Alpes-Côte d'Azur</option>
                                             <option>Corse</option>
                                             <option>Midi-Pyrénées</option>
                                             <option>Lanhuedoc-Roussillon</option>
                                             <option>Poitou-Charentes</option>
                                             <option>Limousin</option>
                                             <option>Aquitaine</option>
                                             <option>Pays-de-la-loire</option>
                                             <option>Champagne-Ardenne</option>
                                             <option>Lorraine</option>
                                             <option>Alsace</option>

                                            </select>
                                    </div>
                            </div><!--row options regions/categories-->

                            <div class="">
                                    <br>
                                    <div class="form-group">
                                                    <input type="text" class="form-control text-global-search" placeholder="Tapez votre recherche (optionnel)">
                                            </div>
                            </div><!--zone-texte-avancé-->

                            <div class="">
                                            <div class="radio">
                                             <label>
                                                    <input type="radio" name="optionsRadios" id="descending-order" value="option1" checked>Du plus loin au plus proche
                                             </label>
                                            </div>

                                            <div class="radio">
                                             <label>
                                                    <input type="radio" name="optionsRadios" id="ascending" value="option2">Du plus proche au plus loin
                                             </label>
                                            </div>
                            </div><!--tri croissant/décroissant-->	


                            <button type="submit" class="btn btn-primary btn-advenced-search">Rechercher</button>
                    </form>

                    <div class="row text-center container-btn-bonus-form-advanced-search-index">
                            <span class="btn btn-success btn-bonus-index">
                                    <a href="proposer-activite.html"><span class="el-icon-plus-sign">&nbsp;</span>Proposer une activité</a>
                            </span>
                            <span class="btn btn-success btn-bonus-index">
                                    <a href="afficher-ma-liste-de-souhaits.html"><span class="el-icon-list">&nbsp;</span>Afficher ma liste des demandes</a>
                            </span>
                    </div>

            </div><!--recherche avancée-->

            <div class="carousel-container col-xs-12 col-md-12 col-lg-12">
                    <div id="carousel-generic" class="carousel slide" data-ride="carousel">

                     <!-- Indicators -->
                     <ol class="carousel-indicators">
                             <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
                             <li data-target="#carousel-generic" data-slide-to="1"></li>
                             <li data-target="#carousel-generic" data-slide-to="2"></li>
                             <li data-target="#carousel-generic" data-slide-to="3"></li>
                             <li data-target="#carousel-generic" data-slide-to="4"></li>
                     </ol><!--Indicators-->

                     <!-- Wrapper for slides -->
                     <div class="carousel-inner" role="listbox">

                            <div class="item active">
                                    <img src="images/bowling.jpg" alt="...">

                            </div><!--elements de carousel-->

                            <div class="item">
                                    <img src="images/cinema.jpg" alt="...">

                            </div><!--elements de carousel-->


                            <div class="item">
                                    <img src="images/fete.jpg" alt="...">

                            </div><!--elements de carousel-->


                            <div class="item">
                                    <img src="images/metier.jpg" alt="...">

                            </div><!--elements de carousel-->

                            <div class="item">
                                    <img src="images/cafe.jpg" alt="...">

                            </div><!--elements de carousel-->

                     </div><!--Wrapper for slides-->


                    </div><!--carousel-generic-->

                    <!--commentaire

                     <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                     </a>

                     <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                     </a>
                    -->
            </div><!--!Caroussel-->
    </div><!-- le but du row c'est de pouvoir avoir moins de margin sur les cotés ;-) sinon il n'est pas indispensable ici-->
</div><!--primary section-->