<html lang="fr">
<head>
	<meta charset="utf-8">
	<meat name="description" content="Le meilleur site au monde">
	<meta name="author" content="hitema" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/elusive-webfont.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/user-profile.css">

	<title>Site de sorties</title>

	<noscript>Votre naviguateur ne supporte pas JavaScript! Mettez le à jour ou activez JavaScript</noscript>
	<meta property="og:title" content="The title" />
	<meta property="og:type" content="The type" />
	<meta property="og:url" content="http://lyes-amlys.fr/" />
	<meta property="og:image" content="The image" />
	<link rel="icon" type="image/png" href="images/favicon.png" />
	<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="/path/favicon.ico" /><![endif]-->
</head>


<body>
	<div class="header">
		<header class="container-fluid navigation">
		<div class="row navigation">

			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-search">
							<span class="sr-only">Toggle navigation</span> 
								<!--<span class="icon-bar"></span> 
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>-->
								<span class="link-redus-header">Reduire/ Afficher</span>
						</button>
						<a class="navbar-brand" href="accueil.html">ProjetWeb</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="global-search">

						<form class="navbar-form navbar-left text-left" role="search" action="advancedsearch" method="get">
							<div class="form-group">
								<input type="text" class="form-control text-global-search" placeholder="Sortie, cinéma, covoiturage ..." name="clef">
						    	<input type="hidden"  name="prixmin">
						    	<input type="hidden"  name="prixmax">
						    	<input type="hidden"  name="categorie">
						    	<input type="hidden"  name="region">
						    	<input type="hidden"  name="optionsRadios">
							</div>
							<button type="submit" class="btn btn-primary" >Rechercher</button></a>

							<div class="link-advanced-search text-right">
								<a href="form-advanced-search-mobile.html">Faire une recherche avancée</a>
							</div>
						</form>

						<ul class="account-active container-connexion-inscription-links nav navbar-nav navbar-right">
							<span class="btn-header-account">
								<a href="connexion.html" class="link-connexion">Connexion</a>&nbsp;&nbsp;
								<a href="inscription.html" class="link-inscription">Inscription</a>
							</span>
						</ul>

					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</div>
		
		<!--row navigation-->
		<!--header-->
		</header>
	</div>

	<!-- le but du row c'est de pouvoir avoir moins de margin sur les cotés ;-) sinon il n'est pas indispensable parfois-->

	<section>
		<div class="row user-infos-container">
			<div class="col-xs-12 col-md-4 col-md-push-5 img-user-profile">
				
				<div class="text-left">
					<img src="images/favicon.png" class="row image-user">
					<div class="row nom-user">Nom Prénom</div>
					<div class="row notes-user">* * * * *</div>
				</div>				
			</div>
		</div>

		<div class="row activites">
			<div class="publication col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-1"></div>
							<div class="col-xs-10">
								<h3>Aller regarder Fast & Furios 8</h3>
								<span>Proposée par : <a href="#">Vendeur_alpha</a></span><br>
								<span>
									<a href="#">Aujourd'hui</a> à <strong>16h</strong> jusqu'à <strong>19h</strong>
									<span> à <a href="#">Paris(75015)</a></span>
								</span><br/>
								<span>Personnes invitées : <strong>3</strong></span><br/>
								<span>
									<a href="#"><span class="btn btn-add-to-list">Signaler</span></a>
									<a href="#"><span class="btn btn-add-to-list">+Partager</span></a>
								</span><br/>
								<p class="row col-xs-10">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<div class="row col-xs-12">
									<button class="btn btn-primary col-xs-10 btn-participation">Participer</button>
								</div>
							</div>
							<div class="col-xs-1"></div>
			</div>

			<div class="publication col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-1"></div>
							<div class="col-xs-10">
								<h3>Aller regarder Fast & Furios 8</h3>
								<span>Proposée par : <a href="#">Vendeur_alpha</a></span><br>
								<span>
									<a href="#">Aujourd'hui</a> à <strong>16h</strong> jusqu'à <strong>19h</strong>
									<span> à <a href="#">Paris(75015)</a></span>
								</span><br/>
								<span>Personnes invitées : <strong>3</strong></span><br/>
								<span>
									<a href="#"><span class="btn btn-add-to-list">Signaler</span></a>
									<a href="#"><span class="btn btn-add-to-list">+Partager</span></a>
								</span><br/>
								<p class="row col-xs-10">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<div class="row col-xs-12">
									<button class="btn btn-primary col-xs-10 btn-participation">Participer</button>
								</div>
							</div>
							<div class="col-xs-1"></div>
			</div>

			<div class="publication col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-1"></div>
							<div class="col-xs-10">
								<h3>Aller regarder Fast & Furios 8</h3>
								<span>Proposée par : <a href="#">Vendeur_alpha</a></span><br>
								<span>
									<a href="#">Aujourd'hui</a> à <strong>16h</strong> jusqu'à <strong>19h</strong>
									<span> à <a href="#">Paris(75015)</a></span>
								</span><br/>
								<span>Personnes invitées : <strong>3</strong></span><br/>
								<span>
									<a href="#"><span class="btn btn-add-to-list">Signaler</span></a>
									<a href="#"><span class="btn btn-add-to-list">+Partager</span></a>
								</span><br/>
								<p class="row col-xs-10">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<div class="row col-xs-12 text-center">
									<p class="bg-warning col-xs-10">Terminée</p>
								</div>
							</div>
							<div class="col-xs-1"></div>
			</div>

			<div class="publication col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-1"></div>
							<div class="col-xs-10">
								<h3>Aller regarder Fast & Furios 8</h3>
								<span>Proposée par : <a href="#">Vendeur_alpha</a></span><br>
								<span>
									<a href="#">Aujourd'hui</a> à <strong>16h</strong> jusqu'à <strong>19h</strong>
									<span> à <a href="#">Paris(75015)</a></span>
								</span><br/>
								<span>Personnes invitées : <strong>3</strong></span><br/>
								<span>
									<a href="#"><span class="btn btn-add-to-list">Signaler</span></a>
									<a href="#"><span class="btn btn-add-to-list">+Partager</span></a>
								</span><br/>
								<p class="row col-xs-10">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<div class="row col-xs-12 text-center">
									<p class="bg-info col-xs-10">En cours</p>
								</div>
							</div>
							<div class="col-xs-1"></div>
			</div>
		</div>
	</section>
	<footer class="container-fluid">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<ul class="list-inline text-center">
					<h4>Rejoignez nous:</h4>
					<li><a href="#" title="Facebook"><span class="el-icon-facebook fb-icon"></span></a><br></li>
					<li><a href="#" title="Twitter"><span class="el-icon-twitter tw-icon"></span></a><br></li>
					<li><a href="#" title="YouTube"><span class="el-icon-youtube you-icon"></span></a><br></li>
					<li><a href="#" title="Tumblr"><span class="el-icon-tumblr tu-icon"></span></a><br></li>
				</ul>	
			</div>

			<div class="col-xs-3 col-md-3 col-lg-3">
				<ul>
					<h4>Nous contacter:</h4>
					<li><a href="#">Formulaire de contact</a><br><br></li>
					
				</ul>
			</div>

			<div class="col-xs-3 col-md-3 col-lg-3">
				<ul>
					<h4>Mentions légales:</h4>
					<li><a href="#">Comment ça marche? (aide)</a><br></li>
					<li><a href="#">Charte d'utilisation</a><br></li>
					<li><a href="#">Qui sommes nous?</a><br></li>
					<li><a href="#">Presse</a><br></li>
				</ul>
			</div>

			<div class="col-xs-3 col-md-3 col-lg-3">
				<ul>
					<h4>Services:</h4>
					<li><a href="#">Proposer une activité</a><br></li>
					<li><a href="#">Supprimer une activité</a><br></li>
					<li><a href="#">Signaler une activité/compte</a><br></li>
					<li><a href="#">Parainer des amis</a><br></li>
				</ul>
			</div>

	</footer>


	<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/myScript.js"></script>
		
</body>
</html>

